*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.658), rgb(248, 91, 0));
    height: 100vh;
    color: rgb(255, 247, 247);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 10px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 2px;
    background-color: rgba(0, 255, 255, 0.007);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}

.botao_color{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 2px;
    background-color: orangered;
    border: none;
    color: white;
}
#resultado{
    background-color: rgb(15, 15, 15);
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 5px;
}